body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#header {
  color: white;
  background-color: turquoise;
  height: 50%;
}

#showAllButton {
  padding-right: 10px;
  padding-left: 10px;
}

#button_toolbar {
  padding-bottom: 10px;
}

.btn-toolbar{
  text-align: center;
}​
